@import "tailwindcss";
@import 'tailwind-animations';
@import "leaflet/dist/leaflet.css";

@theme {
  --animate-fade-in: fade-in 0.5s ease-out;

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  body {
    @apply bg-[#050505] text-zinc-300 antialiased;
  }
}

/* Custom Scrollbar for Premium Look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  background: #050505 !important;
}